.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*flex-flow: row;
  justify-content: left;*/
}

.TextInput {
  padding-top: 15px;
  /*padding-left: 350px;*/
}

.City {
  padding-top: 10px;
}

.City:hover {
  cursor: pointer;
  background-color: rgb(243, 242, 236);
}

.ErrorMsg {
  padding-top: 15px;
  padding-left: 50px;
}

.centerInput {
  width: 100vw;
  position: relative;

  flex-flow: row wrap;
  align-items: center;
}